<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Spark Goods</title>
    
    <!-- Custom fonts for this template-->
    <link type="text/css" href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
    <link type="text/css"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    
    <!-- Custom styles for this template-->
    <link type="text/css" href="../static/css/sb-admin-2.css" th:href="@{css/sb-admin-2.css}" rel="stylesheet"/>
    <link type="text/css" href="../static/vendor/datatables/dataTables.bootstrap4.min.css"
          th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>
    <link type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>

</head>

<body id="page-top">
    
    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Spark Goods <sup></sup></div>
            </a>
            
            <!-- Divider -->
            <hr class="sidebar-divider my-0"/>
            
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>控制台</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider"/>
            
            <!-- Heading -->
            <div class="sidebar-heading">
                DATASETS
            </div>
            
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseData"
                   aria-expanded="true"
                   aria-controls="collapseData">
                    <i class="fas fa-fw fa-heart"></i>
                    <span>数据集</span>
                </a>
                <div id="collapseData" class="collapse show" aria-labelledby="headingData" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--                    <h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href="userTable.html">用户表</a>
                        <a class="collapse-item" href="itemTable.html">商品表</a>
                        <a class="collapse-item active" href="rawTable.html">行为表</a>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider"/>
            
            <!-- Heading -->
            <div class="sidebar-heading">
                Utilities
            </div>
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHot"
                   aria-expanded="true"
                   aria-controls="collapseHot">
                    <i class="fas fa-fw fa-heart"></i>
                    <span>关注度</span>
                </a>
                <div id="collapseHot" class="collapse" aria-labelledby="headingHot" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--                    <h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href="followTable.html">关注度查询</a>
                        <a class="collapse-item" href="followChart.html">关注度可视化</a>
                        <a class="collapse-item" href="followChartSingle.html">单个商品关注度可视化</a>
                    </div>
                </div>
            </li>
            
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReview"
                   aria-expanded="true" aria-controls="collapseReview">
                    <i class="fas fa-fw fa-shopping-bag"></i>
                    <span>评估推荐</span>
                </a>
                <div id="collapseReview" class="collapse" aria-labelledby="headingReview"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">评估:</h6>
                        <a class="collapse-item" href="evalTable.html">评估结果</a>
                        <a class="collapse-item" href="evalChart.html">评估结果可视化</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">推荐:</h6>
                        <a class="collapse-item" href="userRTable.html">用户推荐</a>
                        <a class="collapse-item" href="itemRTable.html">商品推荐</a>
                    </div>
                </div>
            </li>
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRelated"
                   aria-expanded="true"
                   aria-controls="collapseRelated">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>关联规则</span>
                </a>
                <div id="collapseRelated" class="collapse" aria-labelledby="headingRelated"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--                    <h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href="fpgTable.html">关联规则查询</a>
                        <a class="collapse-item" href="fpgChart.html">关联规则可视化</a>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider"/>
            
            <!-- Heading -->
            <div class="sidebar-heading">
                Others
            </div>
            
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/isnxt/spark-goods">
                    <i class="fa fa-fw fa-question-circle"></i>
                    <span>获取帮助</span></a>
            </li>
            
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block"/>
            
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        
        </ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            
            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2"/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        <!-- Nav Item - User Information -->
                        <li class="nav-item">
                            <a href="https://github.com/isnxt/spark-goods" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fa fa-link fa-sm text-white-50"></i> 获取源代码</a>
                        </li>
                    
                    </ul>
                
                </nav>
                <!-- End of Topbar -->
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">行为数据</h1>
                    </div>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">用户商品行为表</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>用户ID</th>
                                        <th>商品ID</th>
                                        <th>浏览次数</th>
                                        <th>停留时间</th>
                                        <th>收藏</th>
                                        <th>购买件数</th>
                                        <th>评分</th>
                                    </tr>
                                    </thead>
                                    <tbody id="rawTable">
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>用户ID</th>
                                        <th>商品ID</th>
                                        <th>浏览次数</th>
                                        <th>停留时间</th>
                                        <th>收藏</th>
                                        <th>购买件数</th>
                                        <th>评分</th>
                                    </tr>
                                    </tfoot>
                                 
                                
                                </table>
                            </div>
                        </div>
                    </div>
                
                </div>
                <!-- /.container-fluid -->
            
            </div>
            <!-- End of Main Content -->
            
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Spark Goods 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        
        </div>
        <!-- End of Content Wrapper -->
    
    </div>
    <!-- End of Page Wrapper -->
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"
            th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"
            th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/vendor/startbootstrap/js/sb-admin-2.min.js" th:src="@{vendor/startbootstrap/js/sb-admin-2.min.js}"></script>

    <!-- Page level vendor -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"
            th:src="@{vendor/datatables/jquery.dataTables.min.js}"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"
            th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/rawTable.js"
            th:src="@{js/rawTable.js}"></script>
    
    <script>
        $(document).ready(function() {
            //alert("sdds");
            var id= document.getElementById("rawTable");
            id.innerHTML=rawTable.fn.renderMain();
            $('#dataTable').DataTable();

        } );
    </script>

</body>

</html>

